.trees{
    background-image:url("stream420x240.jpg");
    display:flex;
    align-items:flex-end;  
    width: 420px;
    height:240px;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    }

.desert{
    background-image: url("desert780x477.jpg");
    width: 680px;
    height:477px;
    font-size: 50px;
    display:flex;
    align-items:flex-end;
    justify-content: center;   
}  
.green{
    background-image: url("relax420x237.jpg");
    display:flex;
    align-items:flex-end;
    width: 420px;
    height:237px;
    color: white;
    font-size: 25px;
}
.container{
    display:flex;
    align-items: flex-end;
    justify-content: flex-end; 
}

.desert{
    display:flex;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    flex-direction:column-reverse;
    align-items: flex-start;
    justify-content:flex-start; 
}

.green{
    align-items: center;
    color:white;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: grey;
    margin:0px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px;
    color:white;
    font-family: 'Muli', sans-serif;
    list-style: none;
}
.lineup{
    text-align: center;
    list-style: none;
}
h3{
 display:flex;
 justify-content: flex-end;   
}